# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea
.DS_Store
go/bin
go/pkg
go/src/github.com
go/src/gopkg.in

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
